<div id="{{ id }}" role="tablist" aria-multiselectable="true">
  {% for item in items %}
      {% set values = item %}
      {% if(instanceof(values, '\\Thunder\\Shortcode\\Shortcode\\ProcessedShortcode')) %}
          {% set values = {
            'id': item.getParameter('id'),
            'heading_id': item.getParameter('heading_id'),
            'title': item.getParameter('title')|trim,
            'content': item.content|trim,
          } %}
      {% endif %}
      <div class="card">
        <div class="card-header" role="tab"{% if (values.heading_id is not null) %} id="{{ values.heading_id }}"{% endif %}>
          <h5 class="mb-0">
            <a data-toggle="collapse" data-parent="#{{ id }}" href="#{{ values.id }}" aria-expanded="true" aria-controls="{{ values.id }}">
              {{ values.title }}
            </a>
          </h5>
        </div>
        <div id="{{ values.id }}" class="collapse {% if loop.first %} in{% endif %}" role="tabpanel" aria-labelledby="{{ values.heading_id }}">
          <div class="card-block">
            {{ values.content }}
          </div>
        </div>
      </div>
  {% endfor %}
</div>
