<div class="row">
    {% for item in items %}
        {% set values = item %}
        {% if(instanceof(values, '\\Thunder\\Shortcode\\Shortcode\\ProcessedShortcode')) %}
            {% set values = {
              'image': item.getParameter('image'),
              'content': item.content|trim,
              'class': item.getParameter('class'),
              'url': item.getParameter('url'),
            } %}
        {% endif %}

<div class="card">
        <div class="{{ values.class|default('col-xl-4') }}">
            {% set linked = values.url is not null %}
            {% set tag = linked ? 'a href="' ~ values.url ~ '"' : 'div' %}
            {% set close_tag = linked ? 'a' : 'div' %}
            <{{ tag }} class="card-img-top">
            {{ grav.page.find('/images').media.images[values.image] }} 
            {% if linked == false %}
              <div class="card-block">
                    <p class="card-text">
                    {{ values.content }}
                    </p>
                </div>
            {% endif %}
            </{{ close_tag }}>
        </div>
</div>
    {% endfor %}
</div>
